* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: blueviolet;
}

#cuerpo {
  background-color: rgb(177, 133, 141);
}

.navbar {
  padding: 0;
}

.navbar-brand {
  font-size: 2rem;
  color: white;
}
.navbar-brand:hover {
  color: rgb(158, 74, 89);
}

.nav-link:hover {
  color: white;
}

a.nav-link {
  color: black;
  border-radius: 40px;
  display: inline-block;
}
a.nav-link:hover {
  padding: 5px;
  background-color: rgb(158, 74, 89);
  color: white;
  transition: 0, 2s;
  border-radius: 40px;
  display: inline-block;
}

nav {
  background-color: rgb(177, 133, 141);
}

.container-fluid {
  background-color: rgb(177, 133, 141);
}

.btn {
  border: rgb(158, 74, 89) --bs-btn-border-width solid rgb(158, 74, 89) --bs-btn-border-color;
}
.btn:hover {
  color: white;
  background-color: rgb(158, 74, 89);
  border-color: rgb(158, 74, 89);
}

.btn-outline-success {
  color: white;
  border-color: rgb(158, 74, 89);
  background-color: rgb(158, 74, 89);
}
.btn-outline-success:active {
  background-color: rgb(158, 74, 89);
  border-color: rgb(158, 74, 89);
  --bs-btn-focus-shadow-rgb: 158, 74, 89;
}

.dropdown-menu {
  background-color: rgb(177, 133, 141);
  border-radius: 5px;
}

.dropdown-item {
  color: black;
}
.dropdown-item:hover {
  background-color: rgb(158, 74, 89);
  color: white;
  border-radius: 5px;
  display: inline;
}

.carousel-inner {
  width: 100vw;
  height: auto;
}
.carousel-inner .carousel-item {
  width: 100vw;
  height: auto;
}
.carousel-inner .carousel-item:active {
  display: flex;
  text-align: center;
  justify-content: center;
  width: auto;
  height: auto;
}
.carousel-inner .carou {
  width: 100vw;
  height: 100vh;
}

.one {
  width: 100vw;
  height: 80vh;
}

.position {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 30px;
  padding-top: 60px;
}

.enviar {
  font-size: 1.5rem;
  border: none;
  background-color: rgb(177, 133, 141);
  border-radius: 15px;
}
.enviar:hover {
  border: 1px solid rgb(158, 74, 89);
  background-color: rgb(158, 74, 89);
  border-radius: 15px;
  color: white;
  transform: scale(1.3);
  transition: 0.4s;
}

.input {
  padding: 5px;
  border: 1px solid rgb(158, 74, 89);
  margin: 5px;
  display: flex;
  position: center;
  justify-content: center;
}

.estilos {
  font-size: 1.4rem;
  display: flex;
  text-align: center;
  justify-content: center;
}

.log {
  text-align: center;
  font-size: 3rem;
}

.input2 {
  padding: 5px;
  margin: 5px;
  position: flex;
  justify-content: center;
  text-align: center;
}

.one2 {
  width: 100vw;
  height: 110vh;
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .one2 {
    height: 110vh;
  }
}
@media (min-width: 1441px) and (max-width: 2560px) {
  .one2 {
    height: 60vh;
  }
}
@media (min-width: 768px) and (max-width: 2560px) {
  .parafo {
    font-size: 1.8rem;
  }
  .abajo {
    width: 100vw;
    height: 60vh;
  }
  .video {
    width: 90vw;
    height: 80vh;
  }
}
.Galeria-grilla {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 30vh);
  grid-template-areas: "imagen1 imagen2 imagen2" "imagen1 imagen3 imagen3" "imagen4 imagen4 imagen5" "imagen4 imagen4 imagen5" "imagen6 imagen6 imagen6";
  gap: 5px;
}
.Galeria-grilla > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}
.Galeria-grilla > img:hover {
  transform: scale(1.1);
}

.imagen1 {
  grid-area: imagen1;
}

.imagen2 {
  grid-area: imagen2;
}

.imagen3 {
  grid-area: imagen3;
}

.imagen4 {
  grid-area: imagen4;
}

.imagen5 {
  grid-area: imagen5;
}

.imagen6 {
  grid-area: imagen6;
}

.MainGaleria {
  display: flex;
  text-align: center;
  justify-content: center;
}
.MainGaleria h1 {
  font-size: 1.5rem;
}

@media (min-width: 376px) and (max-width: 768px) {
  .MainGaleria h1 {
    font-size: 2.2rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .MainGaleria h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .MainGaleria h1 {
    font-size: 4rem;
  }
}
@media (min-width: 1441px) and (max-width: 4000px) {
  .MainGaleria h1 {
    font-size: 5rem;
  }
}
.centrado {
  display: flex;
  text-align: center;
  justify-content: center;
}

.footer-left {
  text-align: center;
}
.footer-left ul {
  padding: 0;
  margin: 0;
}
.footer-left li {
  list-style: none;
}
.footer-left li a {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  color: white;
}
.footer-left li a:hover {
  font-size: 1.5rem;
  color: rgb(158, 74, 89);
}

.footer-right {
  text-align: center;
}

.textofooter {
  text-align: center;
  font-size: 1rem;
}

.map2 {
  display: flex;
  text-align: center;
  justify-content: center;
}

.map {
  width: 100vw;
  height: 50vh;
}

@media (min-width: 992px) and (max-width: 1440px) {
  .footer-left {
    text-align: center;
  }
  .footer-right {
    text-align: right;
  }
  .map {
    width: 50vw;
    height: 25vh;
  }
  .textofooter {
    font-size: 2rem;
  }
  .footer-left li a:hover {
    font-size: 1.8rem;
  }
  #footerbox {
    display: flex;
    justify-content: space-around;
  }
}
.promocion h1 {
  text-align: center;
  font-size: 1.5rem;
  padding: 15px;
}

@media (min-width: 376px) and (max-width: 768px) {
  .promocion h1 {
    font-size: 2.2rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .promocion h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .promocion h1 {
    font-size: 4rem;
  }
}
@media (min-width: 1441px) and (max-width: 4000px) {
  .promocion h1 {
    font-size: 5rem;
  }
}
.carousel-item {
  width: 100vw;
  height: 45vh;
}

@media (min-width: 376px) and (max-width: 425px) {
  .carousel-item {
    width: 100vw;
    height: 65vh;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .carousel-item {
    width: 100vw;
    height: 75vh;
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .pcarousel-item {
    width: 100vw;
    height: 80vh;
  }
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .carousel-item {
    width: 100vw;
    height: 95vh;
  }
}
@media (min-width: 1441px) and (max-width: 4000px) {
  .carousel-item {
    width: 100vw;
    height: 100vh;
  }
}
.articulo {
  text-align: center;
  font-size: 1.5rem;
  padding: 15px;
}

@media (min-width: 376px) and (max-width: 768px) {
  .articulo {
    font-size: 1.8rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .articulo {
    font-size: 2rem;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .articulo {
    font-size: 2.2rem;
  }
}
@media (min-width: 1441px) and (max-width: 4000px) {
  .articulo {
    font-size: 2.5rem;
  }
}
.articulo2 h2 {
  text-align: center;
  font-size: 1.5rem;
  padding: 15px;
}

@media (min-width: 376px) and (max-width: 768px) {
  .articulo2 h2 {
    font-size: 2.2rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .articulo2 h2 {
    font-size: 3rem;
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .articulo2 h2 {
    font-size: 4rem;
  }
}
@media (min-width: 1441px) and (max-width: 4000px) {
  .articulo2 h2 {
    font-size: 5rem;
  }
}
.abajo .imagen {
  width: 100vw;
  padding: 10px;
}

@media (min-width: 426px) and (max-width: 1440px) {
  .abajo {
    text-align: center;
    width: 100vw;
    height: 100vh;
  }
  .abajo .imagen {
    width: 60vw;
    height: 100vh;
  }
}
.click {
  text-align: center;
  color: white;
}

.click:hover {
  font-size: 2rem;
  color: rgb(158, 74, 89);
}

@media (min-width: 426px) and (max-width: 1440px) {
  .click {
    font-size: 2rem;
  }
  .click:hover {
    font-size: 3rem;
  }
}
@media (min-width: 1025px) and (max-width: 4000px) {
  .video {
    width: 80vw;
    height: 50vh;
  }
  .parafo {
    font-size: 2.1rem;
  }
  .position h2, h3 {
    font-size: 2.6rem;
  }
}
.shop {
  padding-bottom: 60vh;
}

/*# sourceMappingURL=style.css.map */
