
  .promocion h2{
    text-align: center;
    font-size: 1.5rem;
    padding: 15px;
  }
  
  @media (min-width: 376px) and (max-width: 768px){
    .promocion h2{
      font-size: 2.2rem;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px){
    .promocion h2{
      font-size: 3rem;
    }
  }
  
  @media (min-width: 1025px) and (max-width: 1440px){
    .promocion h2{
      font-size: 4rem;
    }
  }
  
  @media (min-width: 1441px) and (max-width: 4000px){
    .promocion h2{
      font-size: 5rem;
    }
  }
  
  .carousel-item{
    width: 100vw;
    height: 45vh;
  }
  
  @media (min-width: 376px) and (max-width: 425px){
    .carousel-item{
      width: 100vw;
      height: 65vh;
    }
  }
  
  @media (min-width: 426px) and (max-width: 768px){
    .carousel-item{
      width: 100vw;
      height: 75vh;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1023px){
    .pcarousel-item{
      width: 100vw;
      height: 80vh;
    }
  }
  
  @media (min-width: 1024px) and (max-width: 1440px){
    .carousel-item{
      width: 100vw;
      height: 95vh;
    }
  }
  
  @media (min-width: 1441px) and (max-width: 4000px){
    .carousel-item{
      width: 100vw;
      height: 100vh;
    }
  }
  
  .articulo{
    text-align: center;
    font-size: 1.5rem;
    padding: 15px;
  }
  
  @media (min-width: 376px) and (max-width: 768px){
    .articulo{
      font-size: 1.8rem;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px){
    .articulo{
      font-size: 2rem;
    }
  }
  
  @media (min-width: 1025px) and (max-width: 1440px){
    .articulo{
      font-size: 2.2rem;
    }
  }
  
  @media (min-width: 1441px) and (max-width: 4000px){
    .articulo{
      font-size: 2.5rem;
    }
  }
  
  .articulo2 h3{
    text-align: center;
    font-size: 1.5rem;
    padding: 15px;
  }
  
  @media (min-width: 376px) and (max-width: 768px){
    .articulo2 h3{
      font-size: 2.2rem;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px){
    .articulo2 h3{
      font-size: 3rem;
    }
  }
  
  @media (min-width: 1025px) and (max-width: 1440px){
    .articulo2 h3{
      font-size: 4rem;
    }
  }
  
  @media (min-width: 1441px) and (max-width: 4000px){
    .articulo2 h3{
      font-size: 5rem;
    }
  }
  
  .abajo .imagen{
    width: 100vw;
    padding: 10px;
  }
  
  @media (min-width: 426px) and (max-width: 1440px){
    .abajo{
      text-align: center;
      width: 100vw;
      height: 90vh;
    } 
    .abajo .imagen{
      width: 70vw;
      height: 80vh;
    }
  }
  
  .click{
    text-align: center;
    color: white;
  }
  .click:hover{
    font-size: 2rem;
    color: rgb(158, 74, 89);
  }
  
  @media (min-width: 426px) and (max-width: 1440px){
    .click{
      font-size: 2rem;
    }
    .click:hover{
      font-size: 3rem;
    }
  }
  
  @media (min-width: 1025px) and (max-width: 4000px){
    .video{
      width: 80vw;
      height: 50vh;
    }
    .parafo{
      font-size: 2.1rem;
     }
    .position h2,h3{
      font-size: 2.6rem;
    }
  }
  
  .shop{
    padding-bottom: 60vh;
  }