
  .Galeria{
    width: 100%;
    height: 100%;
  }
  .Galeria-grilla{
    padding-left: 10vw;
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5,30vh);
    grid-template-areas: 
    "imagen1 imagen2 imagen2"
    "imagen1 imagen3 imagen3"
    "imagen4 imagen4 imagen5"
    "imagen4 imagen4 imagen5"
    "imagen6 imagen6 imagen6";
    gap: 10px;
    >img{
        width: 100%;
        height: 100%;
        object-fit:fill;
        transition: 1s;
        &:hover{
            transform: scale(1.1);
            transition: 0.8s;
        }
    }

  }

  @media (min-width: 426px) and (max-width: 768px){
    .Galeria{
      height: 200%;
    }
  }
  
  .imagen1{
   grid-area: imagen2;
   max-width: 1400px;
   max-height: 1400px;
  }
  
  .imagen2{
    grid-area: imagen6;
     max-width: 2100px;
     max-height: 700px;
  }
  
  .imagen3{
    grid-area: imagen3;
     max-width: 1600px;
     max-height: 700px;
  }
  
  .imagen4{
    grid-area: imagen4;
     max-width: 1600px;
     max-height: 1600px;
  }
  
  .imagen5{
    grid-area: imagen5;
     max-width: 1000px;
     max-height: 1600px;
  }
  
  .imagen6{
    grid-area: imagen1;
     max-width: 1600px;
     max-height: 1400px;
  }
  
  .MainGaleria{
    @include centrado;
    h1{
        font-size: 1.5rem;
    }
  }
  
  
  @media (min-width: 376px) and (max-width: 768px){
    .MainGaleria h1{
      font-size: 2.2rem;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px){
    .MainGaleria h1{
      font-size: 3rem;
    }
  }
  
  @media (min-width: 1025px) and (max-width: 1440px){
    .MainGaleria h1{
      font-size: 4rem;
    }
  }
  
  @media (min-width: 1441px) and (max-width: 1600px){
    .MainGaleria h1{
      font-size: 5rem;
    }
  }
  